@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;600&display=swap');

:root {
  --body-bg: #f0f0f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--body-bg);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

input {
  text-transform: uppercase
}

.mac-err {
  color: #e53935;
}